:root {
    --bg-color: #f3f3f3;
    --shape-color: #bdd6d2;
    --form-bg-color: #e3e5d7;
    --dark-text-color: #414a52;
    --light-text-color: #6c757d;
    --border-color: #d1d1d1;
    --font-primary: 'Merriweather', sans-serif;
    --font-secondary: 'Nunito', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--dark-text-color);
    
    display: grid;
    justify-content: center;
    align-content: start;
    padding-top: 0vh;       
    min-height: 100vh;
    margin: 0;

    overflow: hidden; 
    position: relative;
}


.shape {
    position: absolute;
    background-color: var(--shape-color);
    opacity: 0.8;
    z-index: 0;
}

.shape-top-left {
    top: -50px;
    left: -100px;
    width: 350px;
    height: 350px;
    border-radius: 70% 50% 50% 30% / 40% 60% 60% 40%;
    transform: rotate(-30deg);
}

.shape-bottom-right {
    bottom: -80px;
    right: -90px;
    width: 390px;
    height: 390px;
    border-radius: 40% 60% 60% 40% / 70% 50% 50% 30%;
    transform: rotate(45deg);
}

.logo-area {
    text-align: center;
}

.logo-image {
    width: 300px;
    height: 200px;
    margin-bottom: -30px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 1.2rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: var(--light-text-color);
    font-family: var(--font-secondary);
}

.input-group input {
    width: 100%;
    padding: 0.8rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    background-color: #fff;
    font-size: 1rem;
    font-family: var(--font-secondary);
}

.input-group input:focus {
    outline: none;
    border-color: var(--dark-text-color);
    box-shadow: 0 0 0 3px rgba(74, 85, 92, 0.1);
}

.login-button {
    background-color: var(--dark-text-color);
    color: #fff;
    border: none;
    padding: 1rem;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 1.5rem;
    font-family: var(--font-primary);
}

.login-button:hover {
    background-color: #3a444a;
}

.cadastro-box {
    position: relative; 
    background-color: var(--form-bg-color);
    padding: 2.5rem;
    padding-top: 2rem;
    border-radius: 30px; 
    width: 400px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.back-link {
    position: absolute;
    top: 25px;
    left: 25px;
    color: var(--dark-text-color);
    text-decoration: none;
    line-height: 0; 
}

.back-link:hover {
    color: #000;
}

.logo-area-cadastro {
    text-align: center;
    margin-bottom: 2rem; 
}

.cadastro-box form .input-group:last-of-type {
    margin-bottom: 2rem;
}



.password-requirements {
    margin-top: 15px;
    padding: 15px;
    background-color: #f8f8f8;
    border-radius: 8px;
    display: none;
}

.password-requirements.show {
    display: block;
}


.requirement {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 13px;
    color: red;
}


.requirement:last-child {
    margin-bottom: 0;
}


.requirement.valid {
    color: green;
    font-weight: bold;
}


.requirement::before {
    content: '✖';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    font-weight: bold;
}


.requirement.valid::before {
    content: '✔';
    color: green;
}



